
#: Import name for your application
#: CLI commands need the directory for your application to work
IMPORT_NAME="{{ import_name }}"

#: Rabbit MQ
RMQ_HOST="localhost"
RMQ_PASSWORD="guest"
RMQ_PORT="5672"
#: Use amqps for secure connections
RMQ_SCHEME="amqp"
RMQ_USER="guest"

RMQ_URI="${RMQ_SCHEME}://${RMQ_USER}:${RMQ_PASSWORD}@${RMQ_HOST}:${RMQ_PORT}"
RMQ_BROKER_URI="${RMQ_URI}/%2F?connection_attempts=3&heartbeat=3600"
