import dotenv
import os
import typing

from interop import Interop

#: Set the environment variables
env_dir = None
path = dotenv.find_dotenv(".env.local", usecwd=True)

if path and env_dir is None:
    env_dir = os.path.dirname(path)
    dotenv.load_dotenv(path)

#: The remainder of the code should be run from the .env.local directory
if env_dir and os.getcwd() != env_dir:
    os.chdir(env_dir)

config: typing.Dict[str, typing.Any] = dict()  #: populate accordingly
interop = Interop(
    os.getenv("IMPORT_NAME", "{{ import_name }}"),
    os.getenv("RMQ_BROKER_URI", ""),
)
