
from interop import Packet
from interop import subscribe


@subscribe("{{ routing_key }}", "{{ exchange }}")
async def {{ name }}(packet: Packet):
    """This function reacts to messages routed to <routing-key> at
    <exchange-name> on the rabbitmq broker.

    """
